<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="myCSS.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="footer">
    <footer id="footer">
        <div class="footer">
        <p>Alpha Solutions -
            Gothersgade 14, 4. sal
            1123 København K,
            Danmark -
            +45 70 20 65 38 -
            cph@alpha-solutions.com </p>
        </div>


    </footer>
</div>

</body>
</html>