<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="myCSS.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="header">
    <div class="header">
            <div class="header-left">
            <li><a class="active" href="/">Home</a></li>
            </div>

            <div class="header-right">
            <ul class="nav">
                <li><a href="/createProject">Opret nyt projekt</a></li>
            </ul>
        </div>
        </ul>

    </div>
</div>
</body>
</html>