<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="myCSS.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="header">
    <div class="header">
            <div class="header-left">
            <li class="home-btn"><a class="active" href="/">Home</a></li>

            </div>

        <div class="header-right">
            <li class="home-btn"><a class="active" href="/">Log ud</a></li>
        </div>

            <div class="header-right">
            <ul class="nav">
                <li><a th:href="@{/createNewProject}"> Opret nyt projekt </a></li>
            </ul>
        </div>
        </ul>

    </div>
</div>
</body>
</html>