<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="myCSS.css">
    <link rel="stylesheet" href="profile.css">
    <meta charset="UTF-8">
    <title>Forside</title>
</head>

<body>
<div class="slider" />
<th:block th:include="includes/indexHeader :: indexHeader"></th:block>

<div class="container">
 <h3 id="header3">ADMIN</h3>
    <form th:action="@{/removeUser}" method="POST">
<button class="knap" type="submit" name="action" value="1"> Slet bruger her </button>
        <form th:action="@{/createProject}" method="POST">
    <button class="knap" type="submit" name="action" value="1"> Opret nyt prpjekt her </button>
</div>
</form>
</body>


<th:block th:include="/includes/footer :: footer"></th:block>
</html>