<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="myCSS.css">
    <meta charset="UTF-8">
    <title>Opret nyt projekt</title>
</head>
<th:block th:include="/includes/header :: header"></th:block>

<body>
<div class="container">
    <h3 id="header3">Opret nyt projekt</h3>
    <form action="#" th:action="@{/createProject}" th:object="${project}" method="post">

        <label for="projectName">Navn</label><br>
        <input type="text" id="projectName" th:field="*{name}"><br>
        <!---
        <label for="deadlinedate">Deadline(dato)</label><br>
        <input type="date" id="deadlinedate" name="deadlinedate"><br>

        <label for="deadlinetime">Deadline(tidspunkt)</label><br>
        <input type="time" id="deadlinetime" name="deadlinetime"><br>
        --->

        <label for="description">Beskrivelse</label><br>
        <textarea style="height: 200px; width: 400px;" placeholder="Skriv her, hvad projektet omhandler" id="description" th:field="*{description}"></textarea><br>

        <label for="numberOfEmployees">Antal medarbejdere</label><br>
        <input type="text" id="numberOfEmployees" th:field="*{numberOfEmployees}"><br>
        <br>

        <button class="knap" type="submit" name="action" value="1">Opret projekt</button>
    </form>
</div>

</body>
<th:block th:include="/includes/footer :: footer"></th:block>
</html>