<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main_style.css"/>
    <title>ERROR</title>
</head>
<body>
<header id="above">
</header>
<header id="header">
</header>
<div class="topnav">

</div>
<div id="banner">

</div>
<div id="content">
    <h1 style="font-size: 50px; text-align: center">ERROR</h1>
    <br>
    <h1 style="font-size: 50px; text-align: center">Der opstod desværre en fejl</h1>
    <br>
    <h1 style="text-align: center"><a href="/" Style="text-align: center">Gå tilbage til forsiden</a></h1>
</div>
<div class="horizontalgap"></div>
<footer class="footer">
    <div id="leftfoot">
        <a href="/users">

        </a><br>
        <br>
        <i>Copyright & copy 2020</i>
    </div>
    <div id="centerfoot">
        <b></b>
        <br>
        <a href="/createNewProject">Opret projekt</a>
        <br>
        <a href="/userProfile">User Profile</a>
        <br>
        <a href="/">Log ud</a>
        <br>
    </div>
    <div id="rightfoot">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-youtube"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-snapchat-ghost"></a>

    </div>
</footer>
</body>
</html>
-->
