<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="myCSS.css">
    <link rel="stylesheet" href="profile.css">
    <meta charset="UTF-8">
    <title>Projekter</title>
</head>

<body>
<div class="slider" />
<th:block th:include="/includes/header :: header"></th:block>

<h2> Dette er en beige farve </h2>
<div class="container">
    <h3 id="header3">PROJEKTER</h3>
    <tbody>
    <tr th:each="proj:${project}">
        <p>Projektnavn: <td th:text="${proj.name}"></td><br /><p />
        <td th:text="${proj.description}" /><br />
        <td th:text="${proj.numberOfEmployees}" /><br />
        <td th:text="${proj.deadline}" /><br />
    </tr>
    </tbody>
</div>

</body>
<th:block th:include="/includes/footer :: footer"></th:block>
</html>