<!--<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="myCSS.css">
    <link rel="stylesheet" href="profile.css">
    <meta charset="UTF-8">
    <title>Projekter</title>
</head>

<body>
<div class="slider" />
<th:block th:include="/includes/header :: header"></th:block>

<div class="right-panel">

    <div class="project-list-container">

        <h3 id="header3">khjkh</h3>

        <tr th:each="proj,stats: ${project}">
        <b><td><a th:href="@{/project/{id}(id=${proj.id})}" th:text="${proj.name}"></a></a></td></b><br />
        <td name="id" th:text="${proj.id}" /><br />
        <td name="description" th:text="${proj.description}" /><br />
        <td name="numberOfEmployees" th:text="${proj.numberOfEmployees}" /><br />
        <td name="deadline" th:text="${proj.deadline}" /><br />
        <p th:each="subproject:${proj.subprojects}">
        <td name="subName" th:text="${subproject.name}" /><br />
        <td name="subDescription" th:text="${subproject.description}" /><br />

        </p>
        <p th:each="task:${proj.tasks}">
        <td name="taskName" th:text="${task.name}" /><br />
        <td name="taskDescription" th:text="${task.description}" /><br />

        </p>

        <div class="knapper">
            <form th:action="@{/project/{id}(id=${proj.id})}">
                <button class="knap" name="subject" value="View" >Se projekt</button>
            </form>
        </div>

        <div class="knapper">
            <form th:action="@{/createNewProject}" method="GET">
                <button class="knap" name="subject" type="submit" value="update">Rediger projekt</button>
            </form>
        </div>

        <div class="knapper">
            <form th:action="@{/createSubProject/{id}(id=${proj.id})}" method="post">
                <button class="knap" name="subject" value="Add Subproject">Tilføj delprojekt</button>
            </form>
        </div>

            <div class="knapper">
                <form th:action="@{/removeProject}" method="post">
                 <input name="id" type="hidden" th:value="${proj.id}">
                    <button class="knap" name="subject" type="submit" value="delete">Slet projekt</button>
                </form>
            </div>
        </tr>

    </div>

</div>

</body>
<th:block th:include="/includes/footer :: footer"></th:block>
</html> -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/%22%3E">
<head>
    <meta charset="UTF-8" />
    <title>Profile</title>

    <link rel="stylesheet" href="myCSS.css" />
    <link rel="stylesheet" href="profile.css" />
</head>
<body>
<div class="slider" />
<th:block th:include="/includes/header :: header"></th:block>
<div class="project-list-container">
    <h3 id="header3">Projekter</h3>
    <div class="project-list">
        <div class="project-list-item" th:each="project: ${projects}">
            <div class="project-name">
                <a
                        th:href="@{/project/{id}(id=${project.id})}"
                        th:text="'Navn: ' + ${project.name}"
                >
                </a>
            </div>
            <div name="id" th:text=" 'ProjektID: ' + ${project.id}" />
            <div name="description" th:text="'Beskrivelse: ' + ${project.description}" />
            <div
                    name="numberOfEmployees"
                    th:text="'Antal ansatte: ' + ${project.numberOfEmployees}"
            />
            <div name="deadline" th:text=" 'Deadline: ' + ${project.deadline}" > hello:</div>



            <div th:each="subproject:${project.subprojects}">
                <div name="subName" th:text="'Sub project navn: ' + ${subproject.name}" />
                <div name="subDescription" th:text=" 'Sub project beskrivelse: ' + ${subproject.description}" />
            </div>
            <div th:each="task:${project.tasks}">
                <div name="taskName" th:text="${task.name}" />
                <div name="taskDescription" th:text="${task.description}" />
            </div>
            <div class="knapper">
                <form th:action="@{/createNewProject}" method="GET">
                    <button class="knap" name="subject" type="submit" value="update">
                        Rediger projekt
                    </button>
                </form>
            </div>

            <div class="knapper">
                <form
                        th:action="@{/createSubProject/{id}(id=${project.id})}"
                        method="post"
                >
                    <button class="knap" name="subject" value="Add Subproject">
                        Tilføj delprojekt
                    </button>
                </form>
            </div>

            <div class="knapper">
                <form th:action="@{/removeProject}" method="post">
                    <input name="id" type="hidden" th:value="${project.id}" />
                    <button class="knap" name="subject" type="submit" value="delete">
                        Slet projekt
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<th:block th:include="/includes/footer :: footer"></th:block>
</body>
</html>
