<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="myCSS.css">
    <link rel="stylesheet" href="profile.css">
    <meta charset="UTF-8">
    <title>Delprojekter</title>
</head>

<body>
<div class="slider" />
<th:block th:include="/includes/header :: header"></th:block>

<h2> Dette er en beige farve </h2>
<div class="container">
    <h3 id="header3">DELPROJEKTER</h3>
    <form th:action="/" method="POST">

        <label></label>
        <input type="text" th:name="mail" placeholder="Indtast E-mail">

        <label> Kodeord</label>
        <input type="password" th:name="password" placeholder="Indtast kodeord">
        <button class="knap" type="submit" name="action" value="1">Log ind</button>
    </form>
</div>

</body>
<th:block th:include="/includes/footer :: footer"></th:block>
</html>