<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">--->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

    <link rel="stylesheet" href="myCSS.css">
    <link rel="stylesheet" href="profile.css">

</head>
<body>

<div class="slider" />
<th:block th:include="/includes/header :: header"></th:block>

<!-- overview - current projects-->

<div class="project-list-container">
    <h3 id="header3">PROJEKTER</h3>
    <div class="project-list">
    <tr th:each="proj,stats: ${project}">
        <b><h2><td><a class="project-list-item" th:href="@{/project/{id}(id=${proj.id})}" th:text="${proj.name}"></a></td></h2></b>
        <p>Beskrivelse: <td name="description" th:text="${proj.description}" /></p>
        <p>Antal medarbejdere: <td name="numberOfEmployees" th:text="${proj.numberOfEmployees}" /></p>
        <p>Deadline: <td name="deadline" th:text="${proj.deadline}" /></p><br />
        <p> Estimated time: <td name="totalEstimatedTime" th:text="${proj.totalEstimatedTime}"></td></p>


        <h3>Tilhørende delprojekter: </h3>
        <p th:each="subproject:${proj.subprojects}">
        <td name="subName" th:text="${subproject.name}" /><br />
        <td name="subDescription" th:text="${subproject.description}" /><br />
        </p>

        <h3> Tilhørende tasks til dette projekt: </h3>
        <p th:each="task:${proj.tasks}">
        <td name="taskName" th:text="${task.name}" /><br />
        <td name="taskDescription" th:text="${task.description}" /><br />
        </p>
        <div class="knapper">
            <form th:action="@{/updateSubProject/{id}(id=${proj.id})}" method="post">
                <button class="knap" name="subject" value="updateSubProject">Upate subproject</button>
            </form>
        </div>

        <div class="knapper">
            <form th:action="@{/project/{id}(id=${proj.id})}">
                <button class="knap" name="subject" value="View" >View</button>
            </form>
        </div>

        <div class="knapper">
            <form th:action="@{/createNewProject}" method="GET">
                <button class="knap" name="subject" type="submit" value="update">Update</button>
            </form>
        </div>

        <div class="knapper">
            <form th:action="@{/createSubProject/{id}(id=${proj.id})}" method="post">
                <button class="knap" name="subject" value="Add Subproject">Add Subproject</button>
            </form>
        </div>
    </tr>
    </div>

</div>

<th:block th:include="/includes/footer :: footer"></th:block>
</body>
</html>