<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">--->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

    <link rel="stylesheet" href="myCSS.css">
    <link rel="stylesheet" href="profile.css">

</head>
<body>

<div class="slider" />
<th:block th:include="/includes/header :: header"></th:block>

<!-- overview - current projects-->


<div class="right-panel">


    <div class="project-list-container">
        <h2>Projekt oversigt</h2>


        <div class="project-list">


            <th:block th:each="p : ${projects}">
                <div class="project-list-item">
                    Project 1
                </div>
                <tr>
                    <td th:text="${p.name}">...</td>
                    <td th:text="${p.description}">...</td>
                    <td th:text="${p.numberOfEmployees}">...</td>
                    <th:block th:each="sp : ${p.subprojects}">
                        <td th:text="${sp.name}" />
                    </th:block>

                </tr>
            </th:block>
            <div class="project-list-item">
                Project 1
            </div>
            <div class="project-list-item">
                Project 2
            </div>
            <div class="project-list-item">
                Project 3
            </div>

            <div class="project-list-item">
                Project 4
            </div>
            <div class="project-list-item">
                Project 5
            </div>
            <div class="project-list-item">
                Project 6
            </div>



            <div class="knapper">
                                            <!--intet input i action endnu -->
                <form action="" method="get">
                    Choose one:
                    <button class="knap" name="subject" type="submit" value="View">View</button>
                    <button class="knap" name="subject" type="submit" value="update">Update</button>
                    <button class="knap" name="subject" type="submit" value="delete">Delete</button>
                </form>

            </div>





        </div>

    </div>


</div>





<th:block th:include="/includes/footer :: footer"></th:block>
</body>
</html>